
body {
    font-family: Arial, sans-serif;
    margin: 40px 0px;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    font-size: 2em;
    color: #444;
    margin-bottom: 20px;
}


input[type="text"], input[type="file"] {
    flex: 1;
    min-width: 150px;
    /*    padding: 6px;*/
    /*    margin: 0;*/
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
/*    padding: 6px 12px;*/
    font-size: 0.9em;

    padding: 10px 20px;
    margin-right: 10px;
    background-color: #0078D7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form {
    max-width: 700px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button:hover {
    background-color: #005fa3;
}

canvas {
    display: block;
    margin: 20px auto;
    border: 2px solid #ccc;
}
